<div class="user-profile">
  <div class="name text-center">
    <h1><%= @user.name %></h1>
  </div>
  <div class="icon text-center">
    <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
  </div>
</div>
<div class="name text-left">
  <h2>投稿一覧</h2>
</div>
<div class="col-xs-12">
  <%= render 'events/events', events: @event %>
</div>