<% if logged_in? %>
<p>イベント一覧</p>

<% else %>
<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>イベサカ</h1>
        <div><h1>週末に彩りを与えるサッカーイベント</h1></div>
        <div><%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary' %></div>
      </div>
    </div>
  </div>
<% end %>
<% end %>