<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>週末に彩りを与えるサッカーイベント</h1>
      </div>
    </div>
  </div>
<% end %>

<p>イベント一覧</p>