<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    エリア
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">北海道地方</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">東北地方</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">関東地方</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">中部地方</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">近畿地方</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">中国地方</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">四国地方</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">九州・沖縄地方</a></li>
	</ul>
</div>